#button1 {
    display: inline-block;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
    margin-right: 20px;
    background-color:#0000CD;
    box-shadow: 5px 5px 0px black;
    transition: .2s ease-in-out;
}

#button1:hover {
    background-color: #00BFFF;
}



.first-button,.second-button {
    display: flex;
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    background-color:#0000CD;
    box-shadow: 5px 5px 0px black;
    transition: .2s ease-in-out;
}

.second-button:hover,.first-button:hover  {
    background-color: #00BFFF;
    transition: .2s ease-in-out;
}

