
.link { 
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: "Fira Code";
}


.pont::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #0000CD;
    margin-right: 10px;
    transition: .2s ease-in-out;

}

.pont:hover::before {
    background-color: #00BFFF;
    
  
}                    
