

.container-img {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

.projects-img img {
    width: 280px;
    height: 280px;
    transition: .2s ease-in-out;
}

.projects-img img:hover {
    scale: 1.1;
}